<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">
            <ul class="nav" style="padding: 20px;">
                <li style="margin: 10px;">--------</li>
                <li><a href="404.html">404</a></li>
                <li><a href="index.html">Главная</a></li>
                <li><a href="home.html">Главная без банера</a></li>
                <li><a href="personal-area.html">Личный Кабинет</a></li>
                <li><a href="account-registration.html">Регистрация</a></li>
                <li><a href="log-in.html">Авторизация</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="card-product.html">Карточка товара</a></li>
                <li><a href="purchase-history.html">История заказов</a></li>
                <li><a href="delivery.html">Доставка</a></li>
                <li><a href="basket.html">Корзина (New) – Доставка курьером + Код UDS + промо код - Неавторизованный пользователь</a></li>
                <li><a href="basket-UDS.html">Корзина (New) – Доставка курьером + Код UDS + промо код - Неавторизованный пользователь – 1</a></li>
                <li><a href="basket-authorized-user.html">Корзина (New) – Доставка курьером + Код UDS + промо код - Авторизованный пользователь</a></li>
                <li><a href="politic.html">Пользовательское соглашение</a></li>
                <li><a href="all-popup.html">Все попапы</a></li>
            </ul>
        </main>
    </div>
</body>

</html>