<footer class="footer">
    <div class="nav">
        <div class="logo">
            <a href="index.html">
                <img src="../img/logo-small.png">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="delivery.html">Доставка</a></li>
                <li><a href="about.html">Рестораны</a></li>
            </ul>
            <ul>
                <li><a href="#" target="_blank">Instagram</a></li>
                <li><a href="#" target="_blank">Facebook</a></li>
            </ul>
        </div>
        <form>
            <div class="form-column">
                <label>Кейтеринг</label>
                <input type="text" placeholder="Введите Ваш e-mail">
            </div>
            <div class="form-action">
                <span>Оставьте свой e-mail
                    и мы с Вами свяжемся</span>
                <button type="submit">
                    Отправить
                </button>
            </div>
        </form>
    </div>
    <div class="footer-bottom">
        <p>© 2019-2020 г. ИП Породников В.В.</p>
        <a href="politic.html" class="politic">Пользовательское соглашение</a>
        <a href="https://studio-touch.ru/" class="made">Made with ❤️ by Studio Touch</a>
    </div>
</footer>