<div class="menu-mobile">
    <nav>
        <ul>
            <li><a href="home.html#anchor" class="go-to">Бургеры</a></li>
            <li><a href="home.html#anchor2" class="go-to">Пицца</a></li>
            <li><a href="javascript:void(0);">Мясо</a></li>
            <li><a href="javascript:void(0);">Сеты</a></li>
            <li><a href="javascript:void(0);">Десерты</a></li>
            <li><a href="home.html#anchor4" class="go-to">Пиво</a></li>
            <li><a href="javascript:void(0);">Гарниры</a></li>
            <li><a href="javascript:void(0);">Супы</a></li>
            <li><a href="javascript:void(0);">Салаты</a></li>
            <li><a href="javascript:void(0);">Закуски</a></li>
            <li><a href="javascript:void(0);">Блюда из смоукера</a></li>
            <li><a href="home.html#anchor2" class="go-to">Напитки</a></li>
        </ul>
        <ul>
            <li><a href="about.html">Рестораны</a></li>
            <li><a href="http://catering.woodwoodbar.com/" target="_blank">Кейтеринг</a></li>
            <li><a href="personal-area.html" class="cabinet">ДЕНИС</a></li>
        </ul>
    </nav>
</div>
<header class="header header-reguest">
    <div class="container">
        <span class="open-menu">
            <span></span>
        </span>
        <div class="navigation">
            <div class="logo"><a href="index.html"><img src="../img/logo.png"></a></div>
            <div class="menu">
                <a href="javascript:void(0);" class="cabinet">ДЕНИС</a>
                <a href="basket.html" class="basket"><span>+13</span></a>
                <a href="basket.html" class="btn">5950 ₽</a>
                <ul class="cabinet-dropdown">
                    <li><a href="personal-area.html">Личный кабинет</a></li>
                    <li><a href="#">Выход</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <div class="submenu">
                <ul>
                    <li>
                        <a href="home.html#anchor2" class="go-to">Пицца</a>
                        <a href="javascript:void(0);">Гарниры</a>
                    </li>
                    <li>
                        <a href="home.html#anchor" class="go-to">Бургеры</a>
                        <a href="javascript:void(0);">Соусы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Бургер-сеты</a>
                        <a href="javascript:void(0);">Закуски</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Мясо</a>
                        <a href="javascript:void(0);">Десерты</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Салаты</a>
                        <a href="home.html#anchor3" class="go-to">Напитки</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Супы</a>
                        <a href="index.html#anchor4" class="go-to">Пиво</a>
                    </li>
                </ul>
            </div>
            <div class="nav-link">
                <ul>
                    <li><a href="about.html">Рестораны</a></li>
                    <li><a href="http://catering.woodwoodbar.com/" target="_blank">Кейтеринг</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<nav class="nav-mobile">
    <div class="submenu customScroll">
        <ul>
            <li>
                <a href="home.html#anchor2" class="go-to">Пицца</a>
            </li>
            <li>
                <a href="javascript:void(0);">Гарниры</a>
            </li>
            <li>
                <a href="home.html#anchor" class="go-to">Бургеры</a>
            </li>
            <li>
                <a href="javascript:void(0);">Соусы</a>
            </li>
            <li>
                <a href="javascript:void(0);">Бургер-сеты</a>
            </li>
            <li>
                <a href="javascript:void(0);">Закуски</a>
            </li>
            <li>
                <a href="javascript:void(0);">Мясо</a>
            </li>
            <li>
                <a href="javascript:void(0);">Десерты</a>
            </li>
            <li>
                <a href="javascript:void(0);">Салаты</a>
            </li>
            <li>
                <a href="home.html#anchor3" class="go-to">Напитки</a>
            </li>
            <li>
                <a href="javascript:void(0);">Супы</a>
            </li>
            <li>
                <a href="index.html#anchor4" class="go-to">Пиво</a>
            </li>
        </ul>
    </div>
</nav>