<div class="modall modall-address">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Добавить адрес доставки</h4>
        <form class="form">
            <div class="form-content">
                <div class="form-column">
                    <input type="text" placeholder="Город">
                </div>
                <div class="form-column">
                    <input type="text" placeholder="Улица">
                </div>
                <div class="form-group">
                    <div class="form-column">
                        <input type="text" placeholder="Дом">
                    </div>
                    <div class="form-column">
                        <input type="text" placeholder="Строение / корпус">
                    </div>
                    <div class="form-column">
                        <input type="text" placeholder="Этаж">
                    </div>
                    <div class="form-column">
                        <input type="text" placeholder="Домофон">
                    </div>
                </div>
                <div class="form-column">
                    <input type="text" placeholder="Квартира / офис">
                </div>
            </div>
            <div class="action">
                <button class="btn">Добавить</button>
            </div>
        </form>
    </div>
</div>

<div class="modall modall-review">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Оставить отзыв</h4>
        <form class="form">
            <div class="form-content">
                <div class="form-column">
                    <input type="text" placeholder="E-mail">
                </div>
                <div class="form-column">
                    <input type="text" placeholder="Телефон" class="telephone">
                </div>
                <div class="form-column">
                   <textarea placeholder="Отзыв о заказе"></textarea>
                </div>
                <div class="action">
                    <button class="btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modall modall-code">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Введите код из e-mail
            сообщения</h4>
        <form class="form">
            <div class="form-content">
                <div class="form-column">
                    <input type="text" placeholder="Код">
                </div>
                <div class="action">
                    <button class="btn">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modall modall-code-sms">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Введите код из СМС</h4>
        <form class="form">
            <div class="form-content">
                <div class="form-column">
                    <input type="text" placeholder="Код">
                </div>
                <div class="action">
                    <button class="btn">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modall modall-promo">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Промо-код</h4>
        <form class="form">
            <div class="form-content">
                <div class="form-column">
                    <!-- за включение текста ошибки отвечает класс .active -->
                    <span class="eror">Не верный промо-код =(</span>
                    <input type="text" placeholder="Введите Ваш промо-код">
                </div>
                <div class="action">
                    <button class="btn">Применить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modall modall-accepted">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Ваш заказ <span>№ 456</span> принят.
            Приятного аппетита!</h4>
        <div class="action">
            <button class="btn">На главную</button>
        </div>
    </div>
</div>

<div class="modall modall-over">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Блюдо закончилось =(</h4>
        <span class="description">Попробуйте выбрать что то другое</span>
        <ul>
            <li>Маргарита</li>
            <li>Дабл блючиз</li>
        </ul>
        <div class="action">
            <button class="btn">В меню</button>
        </div>
    </div>
</div>

<div class="modall modall-options">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Выберите опции</h4>
        <form class="form customScrollVertical">
            <span class="title">Убрать</span>
            <div class="form-group">
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-1">
                    <label for="checkbox-1">Лук</label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-2">
                    <label for="checkbox-2">Булочку</label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-3">
                    <label for="checkbox-3">Сыр</label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-4">
                    <label for="checkbox-4">Чеснок</label>
                </div>
            </div>
            <span class="title">Добавить</span>
            <div class="form-group">
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-6">
                    <label for="checkbox-6">Сыр<span>30р.</span></label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-7">
                    <label for="checkbox-7">Котлета<span>75р.</span></label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-8">
                    <label for="checkbox-8">Лук<span>25р.</span></label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-9">
                    <label for="checkbox-9">Соус<span>10р.</span></label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-10">
                    <label for="checkbox-10">Булочку<span>15р.</span></label>
                </div>
                <div class="form-column ">
                    <input type="checkbox" name="checkbox-11">
                    <label for="checkbox-11">Омлет<span>40р.</span></label>
                </div>
            </div>
            <div class="action">
                <div class="total">
                    <span>Итого:</span>
                    <span>455р.</span>
                </div>
                <button class="btn">Добавить без опций</button>
            </div>
        </form>
    </div>
</div>

<div class="modall modall-basket">
    <div class="modall-body">
        <span class="close"></span>
        <h4>Добавим в заказ?</h4>
        <ul class="customScrollVertical">
            <li>
                <img src="../img/img-5.jpg" alt="">
                <div class="title">
                    <a href="card-product.html">Лимон-мята</a>
                    <span>320р.</span>
                    <button type="button" class="btn">Добавить в заказ</button>
                </div>
            </li>
            <li>
                <img src="../img/img-6.jpg" alt="">
                <div class="title">
                    <a href="card-product.html">Лимон-манго</a>
                    <span>320р.</span>
                    <button type="button" class="btn">Добавить в заказ</button>
                </div>
            </li>
            <li>
                <img src="../img/img-7.jpg" alt="">
                <div class="title">
                    <a href="card-product.html">Лимон-киви</a>
                    <span>320р.</span>
                    <button type="button" class="btn">Добавить в заказ</button>
                </div>
            </li>
            <li>
                <img src="../img/img-10.jpg" alt="">
                <div class="title">
                    <a href="card-product.html">Фокачча</a>
                    <span>480р.</span>
                    <button type="button" class="btn">Добавить в заказ</button>
                </div>
            </li>
            <li>
                <img src="../img/img-12.jpg" alt="">
                <div class="title">
                    <a href="card-product.html">Папперони</a>
                    <span>470р.</span>
                    <button type="button" class="btn">Добавить в заказ</button>
                </div>
            </li>
            <li>
                <img src="../img/img-11.jpg" alt="">
                <div class="title">
                    <a href="card-product.html">Пицца с море
                        продуктами</a>
                    <span>450р.</span>
                    <button type="button" class="btn">Добавить в заказ</button>
                </div>
            </li>
        </ul>
        <div class="action">
            <button class="btn">Продолжить</button>
        </div>
    </div>
</div>